<section class="slider">
  <div class="slider__item"><h1>Полеты на параплане в Калининграде</h1></div>
</section>

<section>
    <div class="container mx-auto">
        <h2>Хотите полетать на параплане или купить сертификат?<br>Рассказываем как :)</h2>
        <p><a class="btn" href="#" data-open-modal="feedback">modal--feedback link</a></p>
        <p><a class="btn" href="#" data-open-modal="success">modal--success link</a></p>
    </div>
</section>

<section>
  <div class="container">
    <h2>Почему "kdpilot.ru"?</h2>
  </div>
</section>

<section>
  <h2>Фото и видео полётов на параплане</h2>
  <div class="video">

  </div>
  <div class="photo">

  </div>
  <div class="after-photo-video">

  </div>
</section>

<section>
  <div class="container certificate">
    <div>
      <h2>Сертификат</h2>
    </div>
  </div>
</section>

<section>
  <h2>Выберите подходящий вам полёт на параплане</h2>
  <div class="service">
    <div class="service__item"></div>
    <div class="service__item"></div>
    <div class="service__item"></div>
    <div class="service__item"></div>
  </div>
  Важно!  Чтобы быть в курсе предстоящих полётов и всех новостей
</section>

<section>
  <h2>Дополнительные услуги к полёту на параплане</h2>
</section>

<section>
  <h2>Где мы летаем на параплане</h2>
</section>

<section>
  <h2>Немного отзывов о полётах на параплане</h2>
</section>

<section>
  <h2>Последние новости нашей команды</h2>
</section>

<section>
  <h2>Мы верим в то, что испытать чувство полёта на параплане стоит каждому!</h2>
</section>

<section>
  <div>
    <div>
      <h2>Сергей – пилот команды</h2>
      <p>Текст</p>
    </div>
    <div>
      <img src="assets/image/logo.png" alt="">
    </div>
  </div>

  <div class="team">
    <div class="team__item"></div>
  </div>

  <div>
    <div>
      <h2>Антон – пилот команды</h2>
      <p>Текст</p>
    </div>
    <div>
      <img src="assets/image/logo.png" alt="">
    </div>
  </div>

</section>

<section>
  <h2>Ответы на вопросы о полётах на параплане</h2>
</section>

<section>
  <h2>Связаться с нами</h2>
</section>
