<section class="example-page">
    <div class="example-page__wrapper container">
        <h2>Main Page</h2>
        <p><a class="btn" href="#" data-open-modal="feedback">modal--feedback link</a></p>
        <p><a class="btn" href="#" data-open-modal="success">modal--success link</a></p>
    </div>
</section>
