<header>
  <div class="container mx-auto flex header">
    <img class="header__logo" src="assets/image/logo.png" alt="Логотип kdpilot.ru">
    <nav>
      <ul class="flex nav">
        <li class="nav__item"><a href="#">Почему мы?</a></li>
        <li class="nav__item"><a href="#">Видео</a></li>
        <li class="nav__item"><a href="#">Купить билет</a></li>
        <li class="nav__item"><a href="#">Отзывы</a></li>
        <li class="nav__item"><a href="#">Команда</a></li>
        <li class="nav__item"><a href="#">F.A.Q.</a></li>
      </ul>
    </nav>
    <ul class="social">
      <li>
        <svg>
          <use xlink:href="assets/images/sprite.svg#"></use>
        </svg>
      </li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <span class="header-phone">
      +7 952 052 88-88
    </span>
  </div>
</header>
