<section class="intro">
    <div class="intro__wrapper container">
        <h1>Тестовая страница.</h1>
        <p>На данной странице показан пример модальных окон.</p>
        <p><a class="btn" href="#" data-open-modal="feedback">modal--feedback link</a></p>
        <p><a class="btn" href="#" data-open-modal="success">modal--success link</a></p>
    </div>
</section>
